@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* * {
  outline: 1px solid red;
} */

.btn:hover {
  background-color: #453582 !important;
}

.logoIcon {
  width: 1.2em;
}

.fw-bold {
  color: #232858 !important;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: 'Inter', sans-serif;
}

.heroImg {
  width: 85%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgCustom {
  background-color: #FCF8FF;
}

input {
  background-color: none !important;
}

span {
  font-weight: 400 !important;
}

.section1 {
  background-image: url(./img/curved-pattern.png);
  background-size: 600px 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.section3 {
  background-image: url(./img/circular-pattern.png);
  background-size: 600px 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.border-success {
  background-color: #F1FEF4;
}

.sect3 {
  background-image: url(./img/entrepreneour.jpg);
  background-size: cover;
  background-position: center;
}

/* SignUp page */
.carousel1 {
  background-image: url(./img/car1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0 top -245px;
  height: 100vh;
}

.carousel2 {
  background-image: url(./img/car3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 0 top -350px;
  height: 100vh;
}

.carousel3 {
  background-image: url(./img/car7.jpg);
  background-position: left 0 top -30px;
  background-size: cover;
  height: 100vh;
}

.carousel4 {
  background-image: url(./img/car6.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}