@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  /* outline: 1px solid gold; */
}

.logoIcon {
  width: 1.2em;
}

.fw-bold {
  color: #232858 !important;
}
ul{
  list-style: none;
}
/* 
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.heroImg {
  width: 85%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bgCustom {
  background-color: #FCF8FF;
}

input {
  background-color: none !important;
}

span {
  font-weight: 400 !important;
}
.section1{
  background-image: url(./img/curved-pattern.png);
  background-size: 600px 600px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section3{
  background-image: url(./img/circular-pattern.png);
  background-size: 600px 600px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.border-success{
  background-color: #F1FEF4;
}
.sect3{
  background-image: url(./img/entrepreneour.jpg);
  background-size: cover;
  background-position: center;
}

/* .footer{
  background-image: url(./img/PayBuddy.png);
  background-repeat: no-repeat;
  background-size: calc(300px);
  
} */